In [2]:
list1 = ["cat", "dig", "monkey"]
for i, item in enumerate (list1):
    print(i, item)

0 cat
1 dig
2 monkey

In [5]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [29]:
dict1 = {"name" : "elson" ,"age" : 24}
print(dict1["name"])

elson

In [17]:
dict1 = {"name" : ["john" , "mary"]}
print(dict1.get("name"))

['john', 'mary']

In [18]:
dict1 = {"name" : ["john" , "mary"]}
print(list1)

['cat', 'dig', 'monkey']

In [30]:
list2 = ["john" , "mary"]
dict1 = {"name" : [list2]}
print(list2),(dict1.get("name"))

['john', 'mary']

(None, [['john', 'mary']])

In [5]:
number = int(input("enter number:"))
total=number*2
print ("total is:", total)

enter number: 2

total is: 4

In [12]:
number = int(input("enter number:"))
total=number*2
print ("total is:", total)
try:
    number = int(input("enter number:"))
except ValueError:
    print ("not a number")

enter number: 2

total is: 4

enter number: es

not a number

In [15]:
numbers = [1,2]
try:
    print(numbers[2])
except Exception as e:
    print("not a number")

not a number

In [ ]:
numbers = [1,2]
try:
    print(numbers[2])
except Exception as e:
    print("not a number")
finally:
    print()